@import '../../styles/variables.scss';

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 3.2rem;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'current' 'future';
  gap: 32px;
}

.sectionWrapper {
  width: 100%;
}

