@import '../../styles/variables.scss';

.pageWrapper {
  width: 100%;

}

.splash {
  max-width: 1080px;
  margin: 0 auto;
  padding: 64px 32px;
}

.title {
  color: $brand-primary;
}

.heroWrapper {
  margin: 24px 0;
}

.heroImage {
  width: 100%;
  border-radius: 8px;
}
