@import '../../styles/variables.scss';

.pageWrapper {
  position: absolute;
  top: 6.4rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: $emerald-50;

}


.splashContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 32px;
  height: 84rem;
  background-color: $emerald-50;
  background: radial-gradient(rgba(rgb(29, 49, 35), 0.7), rgba(rgb(6, 27, 3), 0.9)), url('../../assets/images/splash-background.jpg');
  background-repeat:no-repeat;
  background-position: center center;

}

.title {
  font-family: 'Playfair Display'; 
  color: white;
  font-size: 8rem;
  letter-spacing: 5px;
  font-weight: 700;
  letter-spacing: 0.05rem;

}

.brandName {
  font-family: 'Playfair Display'; 
  color: $emerald-400;
  letter-spacing: 0.05rem;
}

.smallBrandName {
  font-family: 'Playfair Display'; 
  color: $emerald-400;
  letter-spacing: 0.05rem;
  font-weight: bold;
}


.heroWrapper {
  margin: 24px 0;
}

.heroImage {
  width: 100%;
  border-radius: 8px;
}

.messageIntro {
  margin-top: 2.7rem;
  color: rgb(230, 230, 230);
  font-size: 2.4rem;
  font-weight: 300;
  
}


.messageUnlock {
  color: rgb(230, 230, 230);
  font-size: 2.4rem;
  font-weight: 300;
  margin-top: -1rem;
}

.joinUs {
  margin-top: 8rem;
  padding: 1.7rem 5.8rem;
  font-size: 2.5rem;
  background-color: $emerald-500;
  color: white;
  border-radius: 0.8rem;
  font-weight: bold;
  transition: all .1s linear;
  text-decoration: none;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(85%);
    transform: scale(0.95);
  }
}

