@import '../../styles/variables.scss';

.header {
  height: 72px;
  box-sizing: border-box;
  box-shadow: 0 0 16px 6px rgba(133, 119, 119, 0.03);
}

.outer {
  max-width: 1080px;
  height: 72px;
  margin: 0 auto;
  padding: 0 32px;
}

.inner {
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.navBarLeft {
  display: flex;
  align-items: center;
}

.logoWrapper {
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  display: block;
  height: 32px;
}

.logo:focus {
  box-shadow: rgba(46, 170, 220, 70%) 0px 0px 0px 1px inset,
    rgba(46, 170, 220, 40%) 0px 0px 0px 2px;
}

.logo:active {
  box-shadow: none;
}

.navWrapper {
  display: flex;
  flex-flow: row nowrap;
}

.nav {
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: 500;
}

.navList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navLink {
  height: 32px;
  padding: 0px 12px;
  border-radius: 3px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &:hover {
    background-color: $gray-200;
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  > div {
    font-size: 16px;
  }
}

// .navLogout {
//   cursor: pointer;
//   border-radius: 3px;

//   &:focus {
//     box-shadow: rgba(46, 170, 220, 70%) 0px 0px 0px 1px inset, rgba(46, 170, 220, 40%) 0px 0px 0px 2px;
//   }

//   &active {
//     box-shadow: none;
//   }
// }

.divider {
  width: 1px;
  height: 20px;
  margin: 0 10px;
  background: $gray-200;
}

.navGreeting {
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 0 12px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.searchWrapper {
  // background: lightpink;
  height: 3.2rem;
}

.search {
  height: 3.2rem;
  margin-left: 2.4rem;
  display: flex;
  flex-direction: row;
  // border: 1px solid red;
  align-items: center;
  font-size: 1.4rem;
}

.searchSelect {
  height: 32px;
  width: 80px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 0 12px;
  background: $emerald-300;
  color: $emerald-900
}

.searchInput {
  height: 3.2rem;
  width: 220px;
  border-radius: 0;
  border: none;
  margin: 0;
  padding-left: 0.2rem;
  background: $gray-50;

}

.searchButton {
  height: 32px;
  padding: 0 1.2rem;
  border-radius: 0 4px 4px 0;
  // border: 1px solid red;
  background: $emerald-300;
  color: $emerald-900;
}