@import '../../styles/variables.scss';

.header {
  height: 58px;
  box-sizing: border-box;
  box-shadow: 0 0 16px 6px rgba(133, 119, 119, 0.03);
  border-bottom: 2px solid $emerald-600;
}

.outer {
  height: 58px;
  margin: 0 auto;
  padding: 0 32px;
}

.inner {
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 48px;
}

.logo {
  display: block;
  height: 32px;
  width: auto;
  padding-right: 8px;
}

.logoLink {
  border-radius: 4px;
  
  &:focus {
    box-shadow: 0px 0px 16px 8px rgba($emerald-300, 0.4);
  }

  &:active {
    box-shadow: none;
  }
}

.searchWrapper {
  width: 100%;
  height: 72px;
  // background: lightpink;
  display: flex;
  align-items: center;
}

.searchBar {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: lightskyblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  &:focus {
    box-shadow: 0 0 8px 8px rgba($emerald-600, 0.4);
  }
}

.searchSelect {
  height: 40px;
  width: fit-content;
  margin: 0;
  border-radius: 4px 0 0 4px;
  border: none;
  // padding: 0 12px;
  background: $emerald-200;
  // color: white

  display: flex;
  align-items: center;
  justify-content: center;

  &:focus, &:active {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.searchInput {
  box-sizing: border-box;
  height: 40px;
  // width: 220px;
  margin: 0;
  border-radius: 0;
  border: none;
  background: $gray-200;

  &:focus, &:active {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.searchInputX {
  right: 0;
  background: lightsalmon;
  font-size: 20px;
  line-height: 1;
}

.searchButton {
  height: 40px;
  padding: 0 12px;
  margin: 0;
  border-radius: 0 4px 4px 0;
  // border: 1px solid red;
  background: $emerald-200;
  // color: white;
  font-size: 20px;
  line-height: 1;

  display: flex;
  align-items: center;

  &:focus, &:active {
    border: none;
  }
}

.navWrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 48px;
}

.nav {
  height: 58px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: 500;
}

.navList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navLink {
  height: 32px;
  width: auto;
  white-space: nowrap;
  margin-left: 8px;
  padding: 0px 16px;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  
  &:hover {
    background-color: $gray-200;
    cursor: pointer;
    background: $emerald-100;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0px 0px 16px 4px rgba($emerald-300, 0.4);
  }

  &:active {

  }

}

.divider {
  width: 1px;
  height: 20px;
  // margin: 0 10px;
  margin: 0 8px 0 16px;;
  background: $emerald-500;
}

.navGreeting {
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 0 12px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
