
@import './reset.css';

// Global styles

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

body {
  background: transparent;
}

.container {
  max-width: 1048px;
  margin: 0 auto;
  padding: 16px 32px;;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

a {
  text-decoration: underline;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

// Variables

$white: #FFF;
$gray-50: #F9FAFB;
$gray-100: #F3F4F6;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;
$black: #000;

// $brand-primary: #088d1a;
// $brand-secondary: #04460d;

// $body-background: #000000;

$text-primary: $gray-900;
$text-secondary: $gray-800;

// $link-color: $brand-primary;
// $link-color-hover: darken($link-color, 10%);



// Mixins

