@import '../../../styles/variables.scss';

.videoContainer {
  overflow: hidden;
  padding-top: 56.25%;
  background-color: black;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: calc(100%);
  height: calc(100%);
  object-fit: cover;
  

}

.button {
  display: none;
  position: absolute;
  margin-top : 10px;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: $brand-primary;
  align-self: center;
  border-radius: 6px;
  transition: filter .2s linear;
  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(80%);
  }
}